In [1223]:
import pandas as pd
import numpy as np

In [1605]:
darjelling = pd.read_csv('outer_data/data_Darjelling.csv')
goa = pd.read_csv('outer_data/data_Goa.csv')
gokarna = pd.read_csv('outer_data/data_Gokarna.csv')
manali = pd.read_csv('outer_data/data_Manali.csv')
munnar = pd.read_csv('outer_data/data_Munnar.csv')
ooty = pd.read_csv('outer_data/data_Ooty.csv')
pondi = pd.read_csv('outer_data/data_Pondicherry.csv')
shimla = pd.read_csv('outer_data/data_Shimla.csv')
banglore = pd.read_csv('outer_data/data_Banglore.csv')
mumbai = pd.read_csv('outer_data/data_Mumbai.csv')
hyderabad = pd.read_csv('outer_data/data_Hyderabad.csv')
delhi = pd.read_csv('outer_data/data_delhi.csv')

In [1606]:
hotels_outer = pd.concat([darjelling, goa, gokarna, manali, munnar, ooty, pondi, shimla, banglore, mumbai, hyderabad, delhi])

In [1607]:
len(hotels_outer)

6524

In [1608]:
darjelling1 = pd.read_csv('per_hotel_scrap/Darjelling.csv')
goa1 = pd.read_csv('per_hotel_scrap/Goa.csv')
gokarna1 = pd.read_csv('per_hotel_scrap/Gokarna.csv')
manali1 = pd.read_csv('per_hotel_scrap/Manali.csv')
munnar1 = pd.read_csv('per_hotel_scrap/Munnar.csv')
ooty1 = pd.read_csv('per_hotel_scrap/Ooty.csv')
pondi1 = pd.read_csv('per_hotel_scrap/Pondicherry.csv')
shimla1 = pd.read_csv('per_hotel_scrap/Shimla.csv')
banglore1 = pd.read_csv('per_hotel_scrap/Banglore.csv')
mumbai1 = pd.read_csv('per_hotel_scrap/Mumbai.csv')
hyderabad1 = pd.read_csv('per_hotel_scrap/Hyderabad.csv')
delhi1 = pd.read_csv('per_hotel_scrap/Delhi.csv')

In [1609]:
hotels_inner = pd.concat([darjelling1, goa1, gokarna1, manali1, munnar1, ooty1, pondi1, shimla1, banglore1, mumbai1, hyderabad1, delhi1])

In [1610]:
len(hotels_inner)

6524

In [1611]:
hotels_inner.head()

,url,review_score,facility,checkIn_time,checkOut_time
0,https://www.booking.com/hotel/in/kasturi-palac...,"{""Staff"": ""7.7"", ""Facilities"": ""7.7"", ""Cleanli...","[""Free WiFi"", ""Free parking"", ""Breakfast""]",05:00,NaN
1,https://www.booking.com/hotel/in/pahari-soul.e...,"{""Staff"": ""8.4"", ""Facilities"": ""7.7"", ""Cleanli...","[""Free WiFi"", ""Private parking"", ""Room service...",12:00,11:00
2,https://www.booking.com/hotel/in/haven-eleven....,"{""Staff"": ""10"", ""Facilities"": ""9.5"", ""Cleanlin...","[""Free WiFi"", ""Free parking"", ""Room service"", ...",14:00,NaN
3,https://www.booking.com/hotel/in/pineridge-dar...,"{""Staff"": ""6.5"", ""Facilities"": ""5.4"", ""Cleanli...","[""Free WiFi"", ""Room service"", ""Non-smoking roo...",11:00,NaN
4,https://www.booking.com/hotel/in/broadway-anne...,"{""Location"": ""8.1"", ""Cleanliness"": ""8.0"", ""Val...",[],NaN,NaN

In [1612]:
hotels_outer.head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,checkin,checkout,city,url
0,Hotel KASTURI PALACE & RESTAURANT DARJEELING,Deluxe Double Room,Free cancellation,No prepayment needed,1 double bed,"₹ 9,000",7.8,12,0.8 km from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,https://www.booking.com/hotel/in/kasturi-palac...
1,Pahari Soul,Double Room,Free cancellation,NaN,1 double bed,"₹ 7,020",7.6,385,1.7 km from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,https://www.booking.com/hotel/in/pahari-soul.e...
2,Haven Eleven Homestay,Family Double Room,NaN,NaN,"2 beds (1 double, 1 extra-large double)","₹ 19,794",9.2,14,0.9 km from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,https://www.booking.com/hotel/in/haven-eleven....
3,Pineridge Hotel at Mall Road,Deluxe King Room,Free cancellation,NaN,1 extra-large double bed,"₹ 13,800",5.4,58,0.9 km from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,https://www.booking.com/hotel/in/pineridge-dar...
4,Hotel Broadway Annecy Darjeeling - Near Mall R...,Deluxe Double Room,Free cancellation,No prepayment needed,1 extra-large double bed,"₹ 13,194",7.4,15,400 m from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,https://www.booking.com/hotel/in/broadway-anne...

In [1613]:
hotels = pd.merge(hotels_outer, hotels_inner, on="url", how="inner")

In [1614]:
hotels = hotels.drop('url', axis=1)

In [1615]:
hotels.head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,checkin,checkout,city,review_score,facility,checkIn_time,checkOut_time
0,Hotel KASTURI PALACE & RESTAURANT DARJEELING,Deluxe Double Room,Free cancellation,No prepayment needed,1 double bed,"₹ 9,000",7.8,12,0.8 km from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,"{""Staff"": ""7.7"", ""Facilities"": ""7.7"", ""Cleanli...","[""Free WiFi"", ""Free parking"", ""Breakfast""]",05:00,NaN
1,Pahari Soul,Double Room,Free cancellation,NaN,1 double bed,"₹ 7,020",7.6,385,1.7 km from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,"{""Staff"": ""8.4"", ""Facilities"": ""7.7"", ""Cleanli...","[""Free WiFi"", ""Private parking"", ""Room service...",12:00,11:00
2,Haven Eleven Homestay,Family Double Room,NaN,NaN,"2 beds (1 double, 1 extra-large double)","₹ 19,794",9.2,14,0.9 km from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,"{""Staff"": ""10"", ""Facilities"": ""9.5"", ""Cleanlin...","[""Free WiFi"", ""Free parking"", ""Room service"", ...",14:00,NaN
3,Pineridge Hotel at Mall Road,Deluxe King Room,Free cancellation,NaN,1 extra-large double bed,"₹ 13,800",5.4,58,0.9 km from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,"{""Staff"": ""6.5"", ""Facilities"": ""5.4"", ""Cleanli...","[""Free WiFi"", ""Room service"", ""Non-smoking roo...",11:00,NaN
4,Hotel Broadway Annecy Darjeeling - Near Mall R...,Deluxe Double Room,Free cancellation,No prepayment needed,1 extra-large double bed,"₹ 13,194",7.4,15,400 m from centre,Darjeeling,2025-07-01,2025-07-07,Darjelling,"{""Location"": ""8.1"", ""Cleanliness"": ""8.0"", ""Val...",[],NaN,NaN

In [1616]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6524 entries, 0 to 6523
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6524 non-null   object
 1   room_type      6502 non-null   object
 2   cancel_type    5635 non-null   object
 3   paymentType    3883 non-null   object
 4   bed_type       6470 non-null   object
 5   price          6502 non-null   object
 6   review         6524 non-null   float64
 7   review_count   6524 non-null   int64
 8   distance       5563 non-null   object
 9   address        6524 non-null   object
 10  checkin        6524 non-null   object
 11  checkout       6524 non-null   object
 12  city           6524 non-null   object
 13  review_score   6524 non-null   object
 14  facility       6524 non-null   object
 15  checkIn_time   2992 non-null   object
 16  checkOut_time  1059 non-null   object
dtypes: float64(1), int64(1), object(15)
memory usage: 866.6+ KB

In [1617]:
hotels = hotels.sample(n=500)

In [1618]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 3653 to 1290
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           500 non-null    object
 1   room_type      500 non-null    object
 2   cancel_type    433 non-null    object
 3   paymentType    295 non-null    object
 4   bed_type       497 non-null    object
 5   price          500 non-null    object
 6   review         500 non-null    float64
 7   review_count   500 non-null    int64
 8   distance       427 non-null    object
 9   address        500 non-null    object
 10  checkin        500 non-null    object
 11  checkout       500 non-null    object
 12  city           500 non-null    object
 13  review_score   500 non-null    object
 14  facility       500 non-null    object
 15  checkIn_time   235 non-null    object
 16  checkOut_time  84 non-null     object
dtypes: float64(1), int64(1), object(15)
memory usage: 70.3+ KB

In [1619]:
# converting price to numeric

hotels['price'] = pd.to_numeric(hotels.price.str.replace('₹\xa0', '').str.replace(',', ''))

In [1620]:
hotels['cancel_type'].value_counts()

cancel_type
Free cancellation       432
No prepayment needed      1
Name: count, dtype: int64

In [1621]:
# looks like some field of paymentType are included in cancel_type

In [1622]:
hotels[hotels['cancel_type'] == 'No prepayment needed'].head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,checkin,checkout,city,review_score,facility,checkIn_time,checkOut_time
5052,Angirasa Luxury Camping,Tent,No prepayment needed,NaN,"Tent2 beds (1 extra-large double, 1 sofa bed)",82266,-1.0,-1,64.7 km from centre,Hyderabad,2025-07-01,2025-07-07,Hyderabad,"{""Staff"": ""10.0"", ""Facilities"": ""9.4"", ""Cleanl...","[""Outdoor swimming pool"", ""Free parking"", ""Roo...",11:00,NaN

In [1623]:
# fixing mismatched value b/w cancel_type and payment type

hotels['paymentType'] = np.where(hotels['cancel_type'] == 'No prepayment needed', "No prepayment needed", hotels['paymentType'])

In [1624]:
# using numeric flag for free cancel flag

hotels['free_cancel_flag'] = np.where(hotels['cancel_type'] == 'Free cancellation', 1, 0)

In [1625]:
# using numeric flag for pre payment flag

hotels['no_prepayment_flag'] = np.where(hotels['paymentType'] == 'No prepayment needed', 1, 0)

In [1626]:
hotels.head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,checkin,checkout,city,review_score,facility,checkIn_time,checkOut_time,free_cancel_flag,no_prepayment_flag
3653,FabHotel Astra Berry's - Nr Marathahalli Main ...,Superior Double Room,Free cancellation,NaN,1 double bed,16938,7.6,65,11 km from centre,"Kadubeesanahalli, Bengaluru",2025-07-01,2025-07-07,Banglore,"{""Staff"": ""8.4"", ""Facilities"": ""8.3"", ""Cleanli...","[""Non-smoking rooms"", ""Room service"", ""Free Wi...",12:00,11:00,1,0
1500,Earthen Pods,King Room with Mountain View,Free cancellation,No prepayment needed,1 large double bed,13068,10.0,1,0.7 km from centre,"Aleo, Manāli",2025-07-01,2025-07-07,Manali,"{""Staff"": ""10"", ""Facilities"": ""10"", ""Cleanline...","[""Free WiFi"", ""Free parking"", ""Heating"", ""Brea...",10:00,NaN,1,1
1770,Vella Marina Group of Hotel,Deluxe Double Room with Balcony,Free cancellation,No prepayment needed,2 single beds,384000,-1.0,-1,250 m from centre,"New Manali, Manāli",2025-07-01,2025-07-07,Manali,{},"[""Restaurant"", ""Free parking"", ""Room service"",...",NaN,NaN,1,1
5267,FabHotel RK Residency - Nr SR Nagar Metro Stat...,Deluxe Room,Free cancellation,NaN,1 double bed,10051,-1.0,-1,3.3 km from centre,Hyderabad,2025-07-01,2025-07-07,Hyderabad,"{""Staff"": ""7.8"", ""Facilities"": ""7.0"", ""Cleanli...","[""Room service"", ""Non-smoking rooms"", ""Free Wi...",12:00,11:00,1,0
6351,Hotel Shanti Palace Mahipalpur,Standard Double Room with 20% discount on foo...,Free cancellation,No prepayment needed,1 double bed,29700,-1.0,-1,13.6 km from centre,"Mahipalpur, New Delhi",2025-07-01,2025-07-07,Delhi,{},[],NaN,NaN,1,1

In [1627]:
# converting distance to numeric

distance_km = pd.to_numeric(
    hotels['distance'].str.replace(' km from centre', '', regex=False),
    errors='coerce'
)

distance_m = pd.to_numeric(
    hotels['distance'].str.replace(' m from centre', '', regex=False),
    errors='coerce'
)/1000

distance_m = pd.to_numeric(
    hotels['distance'].str.replace(' m from centre', '', regex=False),
    errors='coerce'
)/1000

In [1628]:
hotels['distance'] =  np.where(hotels['distance'].str.contains(' m from centre'), distance_m, distance_km)

In [1629]:
# check in checkout to datetime

hotels = hotels.assign(
    checkin = pd.to_datetime(hotels['checkin']),
    checkout = pd.to_datetime(hotels['checkout'])
)

In [1630]:
hotels.head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,checkin,checkout,city,review_score,facility,checkIn_time,checkOut_time,free_cancel_flag,no_prepayment_flag
3653,FabHotel Astra Berry's - Nr Marathahalli Main ...,Superior Double Room,Free cancellation,NaN,1 double bed,16938,7.6,65,11.00,"Kadubeesanahalli, Bengaluru",2025-07-01,2025-07-07,Banglore,"{""Staff"": ""8.4"", ""Facilities"": ""8.3"", ""Cleanli...","[""Non-smoking rooms"", ""Room service"", ""Free Wi...",12:00,11:00,1,0
1500,Earthen Pods,King Room with Mountain View,Free cancellation,No prepayment needed,1 large double bed,13068,10.0,1,0.70,"Aleo, Manāli",2025-07-01,2025-07-07,Manali,"{""Staff"": ""10"", ""Facilities"": ""10"", ""Cleanline...","[""Free WiFi"", ""Free parking"", ""Heating"", ""Brea...",10:00,NaN,1,1
1770,Vella Marina Group of Hotel,Deluxe Double Room with Balcony,Free cancellation,No prepayment needed,2 single beds,384000,-1.0,-1,0.25,"New Manali, Manāli",2025-07-01,2025-07-07,Manali,{},"[""Restaurant"", ""Free parking"", ""Room service"",...",NaN,NaN,1,1
5267,FabHotel RK Residency - Nr SR Nagar Metro Stat...,Deluxe Room,Free cancellation,NaN,1 double bed,10051,-1.0,-1,3.30,Hyderabad,2025-07-01,2025-07-07,Hyderabad,"{""Staff"": ""7.8"", ""Facilities"": ""7.0"", ""Cleanli...","[""Room service"", ""Non-smoking rooms"", ""Free Wi...",12:00,11:00,1,0
6351,Hotel Shanti Palace Mahipalpur,Standard Double Room with 20% discount on foo...,Free cancellation,No prepayment needed,1 double bed,29700,-1.0,-1,13.60,"Mahipalpur, New Delhi",2025-07-01,2025-07-07,Delhi,{},[],NaN,NaN,1,1

In [1631]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 3653 to 1290
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                500 non-null    object
 1   room_type           500 non-null    object
 2   cancel_type         433 non-null    object
 3   paymentType         296 non-null    object
 4   bed_type            497 non-null    object
 5   price               500 non-null    int64
 6   review              500 non-null    float64
 7   review_count        500 non-null    int64
 8   distance            427 non-null    float64
 9   address             500 non-null    object
 10  checkin             500 non-null    datetime64[ns]
 11  checkout            500 non-null    datetime64[ns]
 12  city                500 non-null    object
 13  review_score        500 non-null    object
 14  facility            500 non-null    object
 15  checkIn_time        235 non-null    object
 16  checkOut_time       84 non-null     object
 17  free_cancel_flag    500 non-null    int64
 18  no_prepayment_flag  500 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(4), object(11)
memory usage: 78.1+ KB

In [1632]:
hotels.head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,checkin,checkout,city,review_score,facility,checkIn_time,checkOut_time,free_cancel_flag,no_prepayment_flag
3653,FabHotel Astra Berry's - Nr Marathahalli Main ...,Superior Double Room,Free cancellation,NaN,1 double bed,16938,7.6,65,11.00,"Kadubeesanahalli, Bengaluru",2025-07-01,2025-07-07,Banglore,"{""Staff"": ""8.4"", ""Facilities"": ""8.3"", ""Cleanli...","[""Non-smoking rooms"", ""Room service"", ""Free Wi...",12:00,11:00,1,0
1500,Earthen Pods,King Room with Mountain View,Free cancellation,No prepayment needed,1 large double bed,13068,10.0,1,0.70,"Aleo, Manāli",2025-07-01,2025-07-07,Manali,"{""Staff"": ""10"", ""Facilities"": ""10"", ""Cleanline...","[""Free WiFi"", ""Free parking"", ""Heating"", ""Brea...",10:00,NaN,1,1
1770,Vella Marina Group of Hotel,Deluxe Double Room with Balcony,Free cancellation,No prepayment needed,2 single beds,384000,-1.0,-1,0.25,"New Manali, Manāli",2025-07-01,2025-07-07,Manali,{},"[""Restaurant"", ""Free parking"", ""Room service"",...",NaN,NaN,1,1
5267,FabHotel RK Residency - Nr SR Nagar Metro Stat...,Deluxe Room,Free cancellation,NaN,1 double bed,10051,-1.0,-1,3.30,Hyderabad,2025-07-01,2025-07-07,Hyderabad,"{""Staff"": ""7.8"", ""Facilities"": ""7.0"", ""Cleanli...","[""Room service"", ""Non-smoking rooms"", ""Free Wi...",12:00,11:00,1,0
6351,Hotel Shanti Palace Mahipalpur,Standard Double Room with 20% discount on foo...,Free cancellation,No prepayment needed,1 double bed,29700,-1.0,-1,13.60,"Mahipalpur, New Delhi",2025-07-01,2025-07-07,Delhi,{},[],NaN,NaN,1,1

In [1633]:
hotels['bed_type'].value_counts()

bed_type
1 double bed                                                                                 81
1 large double bed                                                                           61
2 double beds                                                                                38
1 extra-large double bed                                                                     32
2 large double beds                                                                          28
                                                                                             ..
Entire villa • 4 bedrooms • 3 bathrooms • 1 kitchen • 116 m²4 large double beds               1
Private suite • 16 m²1 large double bed                                                       1
4 bunk beds                                                                                   1
5 beds (3 doubles, 2 large doubles)                                                           1
Entire holiday home • 1 bedroom • 1 bathroom • 11m²2 beds (1 extra-large double, 1 futon)     1
Name: count, Length: 178, dtype: int64

In [1634]:
# replacing NA bed type to 1 double bed as it is most occuring

hotels['bed_type'] =  np.where(hotels['bed_type'].isna(), '1 double bed', hotels['bed_type'])

In [1635]:
import pandas as pd
import re

# Example breakdown values
# hotels['bed_breakdown'] should already exist from earlier extraction
def parse_bed_breakdown(breakdown):
    counts = {
        'single': 0,
        'double': 0,
        'queen': 0,
        'king': 0,
        'extra_large': 0,
        'sofa': 0,
        'bunk': 0
    }
    if pd.isna(breakdown):
        return pd.Series(counts)

    for match in re.findall(r'(\d+)\s+([a-zA-Z\- ]+)', breakdown.lower()):
        num, bed_type = match
        num = int(num)
        bed_type = bed_type.strip()
        
        # Normalize bed type
        if 'extra' in bed_type and 'large' in bed_type:
            counts['extra_large'] += num
        elif 'single' in bed_type:
            counts['single'] += num
        elif 'double' in bed_type:
            counts['double'] += num
        elif 'queen' in bed_type:
            counts['queen'] += num
        elif 'king' in bed_type:
            counts['king'] += num
        elif 'sofa' in bed_type:
            counts['sofa'] += num
        elif 'bunk' in bed_type:
            counts['bunk'] += num

    return pd.Series(counts)

In [1636]:
bed_counts_df = hotels['bed_type'].apply(parse_bed_breakdown)

In [1637]:
bed_counts_df

      single  double  queen  king  extra_large  sofa  bunk
3653       0       1      0     0            0     0     0
1500       0       1      0     0            0     0     0
1770       2       0      0     0            0     0     0
5267       0       1      0     0            0     0     0
6351       0       1      0     0            0     0     0
...      ...     ...    ...   ...          ...   ...   ...
4812       0       4      0     0            0     0     0
4669       0       1      0     0            0     0     0
4237       2       1      0     0            0     0     0
515        0       1      0     0            0     0     0
1290       0       0      0     0            1     0     0

[500 rows x 7 columns]

In [1638]:
hotels = pd.concat([hotels, bed_counts_df], axis=1)

In [1639]:
hotels.head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,...,checkOut_time,free_cancel_flag,no_prepayment_flag,single,double,queen,king,extra_large,sofa,bunk
3653,FabHotel Astra Berry's - Nr Marathahalli Main ...,Superior Double Room,Free cancellation,NaN,1 double bed,16938,7.6,65,11.00,"Kadubeesanahalli, Bengaluru",...,11:00,1,0,0,1,0,0,0,0,0
1500,Earthen Pods,King Room with Mountain View,Free cancellation,No prepayment needed,1 large double bed,13068,10.0,1,0.70,"Aleo, Manāli",...,NaN,1,1,0,1,0,0,0,0,0
1770,Vella Marina Group of Hotel,Deluxe Double Room with Balcony,Free cancellation,No prepayment needed,2 single beds,384000,-1.0,-1,0.25,"New Manali, Manāli",...,NaN,1,1,2,0,0,0,0,0,0
5267,FabHotel RK Residency - Nr SR Nagar Metro Stat...,Deluxe Room,Free cancellation,NaN,1 double bed,10051,-1.0,-1,3.30,Hyderabad,...,11:00,1,0,0,1,0,0,0,0,0
6351,Hotel Shanti Palace Mahipalpur,Standard Double Room with 20% discount on foo...,Free cancellation,No prepayment needed,1 double bed,29700,-1.0,-1,13.60,"Mahipalpur, New Delhi",...,NaN,1,1,0,1,0,0,0,0,0

In [1640]:
hotels.columns

Index(['name', 'room_type', 'cancel_type', 'paymentType', 'bed_type', 'price',
       'review', 'review_count', 'distance', 'address', 'checkin', 'checkout',
       'city', 'review_score', 'facility', 'checkIn_time', 'checkOut_time',
       'free_cancel_flag', 'no_prepayment_flag', 'single', 'double', 'queen',
       'king', 'extra_large', 'sofa', 'bunk'],
      dtype='object')

In [1641]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 3653 to 1290
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                500 non-null    object
 1   room_type           500 non-null    object
 2   cancel_type         433 non-null    object
 3   paymentType         296 non-null    object
 4   bed_type            500 non-null    object
 5   price               500 non-null    int64
 6   review              500 non-null    float64
 7   review_count        500 non-null    int64
 8   distance            427 non-null    float64
 9   address             500 non-null    object
 10  checkin             500 non-null    datetime64[ns]
 11  checkout            500 non-null    datetime64[ns]
 12  city                500 non-null    object
 13  review_score        500 non-null    object
 14  facility            500 non-null    object
 15  checkIn_time        235 non-null    object
 16  checkOut_time       84 non-null     object
 17  free_cancel_flag    500 non-null    int64
 18  no_prepayment_flag  500 non-null    int64
 19  single              500 non-null    int64
 20  double              500 non-null    int64
 21  queen               500 non-null    int64
 22  king                500 non-null    int64
 23  extra_large         500 non-null    int64
 24  sofa                500 non-null    int64
 25  bunk                500 non-null    int64
dtypes: datetime64[ns](2), float64(2), int64(11), object(11)
memory usage: 105.5+ KB

In [1642]:
facility_list = []
import json

for fac in hotels['facility']:
    fac_list = json.loads(fac)
    for each_fac in fac_list:
        if each_fac not in facility_list:
            facility_list.append(each_fac)

print(facility_list)
print(len(facility_list))

['Non-smoking rooms', 'Room service', 'Free WiFi', 'Family rooms', '24-hour front desk', 'Breakfast', 'Free parking', 'Heating', 'Restaurant', 'Airport shuttle', '2 restaurants (1 open)', 'Air conditioning', 'Tea/coffee maker in all rooms', 'Laundry', 'Private parking', 'Terrace', 'Outdoor swimming pool', 'Beachfront', 'BBQ facilities', 'Free cot available on request', 'Swimming Pool', 'Fitness centre', 'Bar', 'Lift', 'Good free WiFi (46 Mbps)', 'Restaurant (Temporarily closed)', 'Daily housekeeping', 'Spa and wellness centre', 'Very good breakfast', 'Good breakfast', 'Airport shuttle (free)', 'Fast free WiFi (206 Mbps)', 'Facilities for disabled guests', 'Superb breakfast', '10 restaurants', 'Indoor swimming pool', '3 restaurants', 'Private beach area', 'Parking', 'WiFi', 'Garden', 'Exceptional breakfast', 'Cot available on request', 'Parking on site', 'Fabulous breakfast', 'Good free WiFi (48 Mbps)', 'Fast free WiFi (438 Mbps)', 'Pool  - outdoor (kids)', '2 swimming pools', "Children's cots (upon request)", 'Fast free WiFi (107 Mbps)', '2 restaurants']
52

In [1643]:
facility_list1 = []
import json

for fac in hotels['facility']:
    fac_list = json.loads(fac)
    for each_fac in fac_list:
        if ("WiFi" in each_fac):
            facility_list1.append("WiFi")
        elif "reakfast" in each_fac:
            facility_list1.append("Breakfast")
        elif "ool" in each_fac:
            facility_list1.append("Pool")
        else:
            facility_list1.append(each_fac)

fac_list_count = {}

for fac in facility_list1:
    if fac in fac_list_count:
        fac_list_count[fac] += 1
    else:
        fac_list_count[fac] = 1

print(sorted(fac_list_count.items(), key=lambda x: x[1], reverse=True))

[('WiFi', 244), ('Free parking', 223), ('Family rooms', 208), ('Room service', 190), ('Non-smoking rooms', 175), ('Breakfast', 166), ('24-hour front desk', 84), ('Airport shuttle', 80), ('Restaurant', 72), ('Tea/coffee maker in all rooms', 51), ('Air conditioning', 49), ('Pool', 49), ('Laundry', 28), ('Fitness centre', 28), ('Terrace', 25), ('Bar', 25), ('Daily housekeeping', 23), ('Free cot available on request', 21), ('Facilities for disabled guests', 14), ('Spa and wellness centre', 13), ('Beachfront', 12), ('Private parking', 10), ('Heating', 9), ('Lift', 7), ('Cot available on request', 7), ('Airport shuttle (free)', 6), ('Private beach area', 6), ('BBQ facilities', 5), ('Garden', 5), ('2 restaurants', 4), ('Parking', 2), ('Parking on site', 2), ("Children's cots (upon request)", 2), ('2 restaurants (1 open)', 1), ('Restaurant (Temporarily closed)', 1), ('10 restaurants', 1), ('3 restaurants', 1)]

In [1644]:
def parse_facility(facility):
    facility_list = json.loads(facility)
    counts = {
        'free_wifi' : 0,
        'free_parking' : 0,
        'breakfast' : 0,
        'room_service' : 0,
        'bar' : 0,
        'airport_shuttle' : 0,
        "restaurant" : 0,
        "pool" : 0,
        "family_rooms" : 0,
        
    }

    for fac in facility_list:
        if "WiFi" in fac:
            counts['free_wifi'] = 1
        elif "reakfast" in fac:
            counts["breakfast"] = 1
        elif "ool" in fac:
            counts["pool"] = 1
        if "Free parking" in fac:
            counts['free_parking'] = 1
        if "Breakfast" in fac or "Good Breakfast" in fac:
            counts['breakfast'] = 1
        if "Room service" in fac:
            counts['room_service'] = 1
        if "Bar" in fac:
            counts["bar"] = 1
        if "Airport shuttle" in fac:
            counts["airport_shuttle"] = 1
            
    
    return pd.Series(counts)

In [1645]:
fac_list = hotels['facility'].apply(parse_facility)

In [1646]:
fac_list

,free_wifi,free_parking,breakfast,room_service,bar,airport_shuttle,restaurant,pool,family_rooms
3653,1,0,1,1,0,0,0,0,0
1500,1,1,1,0,0,0,0,0,0
1770,0,1,0,1,0,0,0,0,0
5267,1,0,1,1,0,0,0,0,0
6351,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
4812,0,0,0,0,0,0,0,0,0
4669,0,0,0,0,0,0,0,0,0
4237,1,0,0,1,0,0,0,1,0
515,1,1,1,1,0,0,0,1,0
1290,1,1,0,0,0,0,0,0,0

In [1647]:
hotels = pd.concat([hotels, fac_list], axis=1)

In [1648]:
hotels.head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,...,bunk,free_wifi,free_parking,breakfast,room_service,bar,airport_shuttle,restaurant,pool,family_rooms
3653,FabHotel Astra Berry's - Nr Marathahalli Main ...,Superior Double Room,Free cancellation,NaN,1 double bed,16938,7.6,65,11.00,"Kadubeesanahalli, Bengaluru",...,0,1,0,1,1,0,0,0,0,0
1500,Earthen Pods,King Room with Mountain View,Free cancellation,No prepayment needed,1 large double bed,13068,10.0,1,0.70,"Aleo, Manāli",...,0,1,1,1,0,0,0,0,0,0
1770,Vella Marina Group of Hotel,Deluxe Double Room with Balcony,Free cancellation,No prepayment needed,2 single beds,384000,-1.0,-1,0.25,"New Manali, Manāli",...,0,0,1,0,1,0,0,0,0,0
5267,FabHotel RK Residency - Nr SR Nagar Metro Stat...,Deluxe Room,Free cancellation,NaN,1 double bed,10051,-1.0,-1,3.30,Hyderabad,...,0,1,0,1,1,0,0,0,0,0
6351,Hotel Shanti Palace Mahipalpur,Standard Double Room with 20% discount on foo...,Free cancellation,No prepayment needed,1 double bed,29700,-1.0,-1,13.60,"Mahipalpur, New Delhi",...,0,0,0,0,0,0,0,0,0,0

In [1649]:
hotels['review_score']

3653    {"Staff": "8.4", "Facilities": "8.3", "Cleanli...
1500    {"Staff": "10", "Facilities": "10", "Cleanline...
1770                                                   {}
5267    {"Staff": "7.8", "Facilities": "7.0", "Cleanli...
6351                                                   {}
                              ...
4812                                                   {}
4669                                                   {}
4237                                                   {}
515     {"Staff": "8.6", "Facilities": "8.0", "Cleanli...
1290    {"Staff": "8.8", "Facilities": "8.8", "Cleanli...
Name: review_score, Length: 500, dtype: object

In [1650]:
unique_citeria = []

for reviews in hotels['review_score']:
    review = json.loads(reviews)
    unique_citeria.extend(list(review.keys()))

print(set(unique_citeria))

{'Staff', 'Cleanliness', 'Free_WiFi', 'Location', 'Facilities', 'Comfort', 'Value_for_money'}

In [1651]:
def parse_review(reviews):
    review = json.loads(reviews)
    counts = {
            'Staff' : 0, 
            'Cleanliness' : 0, 
            'Free_WiFi' : 0, 
            'Location' : 0, 
            'Facilities' : 0, 
            'Comfort' : 0, 
            'Value_for_money' : 0
             }

    for key, val in review.items():
        counts[key] = pd.to_numeric(val)
    
    return pd.Series(counts)

In [1652]:
review_score_list = hotels['review_score'].apply(parse_review)

In [1653]:
hotels = pd.concat([hotels, review_score_list], axis=1)

In [1654]:
hotels.head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,...,restaurant,pool,family_rooms,Staff,Cleanliness,Free_WiFi,Location,Facilities,Comfort,Value_for_money
3653,FabHotel Astra Berry's - Nr Marathahalli Main ...,Superior Double Room,Free cancellation,NaN,1 double bed,16938,7.6,65,11.00,"Kadubeesanahalli, Bengaluru",...,0,0,0,8.4,7.5,7.5,9.1,8.3,8.2,7.6
1500,Earthen Pods,King Room with Mountain View,Free cancellation,No prepayment needed,1 large double bed,13068,10.0,1,0.70,"Aleo, Manāli",...,0,0,0,10.0,10.0,0.0,10.0,10.0,10.0,10.0
1770,Vella Marina Group of Hotel,Deluxe Double Room with Balcony,Free cancellation,No prepayment needed,2 single beds,384000,-1.0,-1,0.25,"New Manali, Manāli",...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5267,FabHotel RK Residency - Nr SR Nagar Metro Stat...,Deluxe Room,Free cancellation,NaN,1 double bed,10051,-1.0,-1,3.30,Hyderabad,...,0,0,0,7.8,8.2,0.0,7.4,7.0,7.2,7.4
6351,Hotel Shanti Palace Mahipalpur,Standard Double Room with 20% discount on foo...,Free cancellation,No prepayment needed,1 double bed,29700,-1.0,-1,13.60,"Mahipalpur, New Delhi",...,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1655]:
hotels.columns

Index(['name', 'room_type', 'cancel_type', 'paymentType', 'bed_type', 'price',
       'review', 'review_count', 'distance', 'address', 'checkin', 'checkout',
       'city', 'review_score', 'facility', 'checkIn_time', 'checkOut_time',
       'free_cancel_flag', 'no_prepayment_flag', 'single', 'double', 'queen',
       'king', 'extra_large', 'sofa', 'bunk', 'free_wifi', 'free_parking',
       'breakfast', 'room_service', 'bar', 'airport_shuttle', 'restaurant',
       'pool', 'family_rooms', 'Staff', 'Cleanliness', 'Free_WiFi', 'Location',
       'Facilities', 'Comfort', 'Value_for_money'],
      dtype='object')

In [1656]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 3653 to 1290
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                500 non-null    object
 1   room_type           500 non-null    object
 2   cancel_type         433 non-null    object
 3   paymentType         296 non-null    object
 4   bed_type            500 non-null    object
 5   price               500 non-null    int64
 6   review              500 non-null    float64
 7   review_count        500 non-null    int64
 8   distance            427 non-null    float64
 9   address             500 non-null    object
 10  checkin             500 non-null    datetime64[ns]
 11  checkout            500 non-null    datetime64[ns]
 12  city                500 non-null    object
 13  review_score        500 non-null    object
 14  facility            500 non-null    object
 15  checkIn_time        235 non-null    object
 16  checkOut_time       84 non-null     object
 17  free_cancel_flag    500 non-null    int64
 18  no_prepayment_flag  500 non-null    int64
 19  single              500 non-null    int64
 20  double              500 non-null    int64
 21  queen               500 non-null    int64
 22  king                500 non-null    int64
 23  extra_large         500 non-null    int64
 24  sofa                500 non-null    int64
 25  bunk                500 non-null    int64
 26  free_wifi           500 non-null    int64
 27  free_parking        500 non-null    int64
 28  breakfast           500 non-null    int64
 29  room_service        500 non-null    int64
 30  bar                 500 non-null    int64
 31  airport_shuttle     500 non-null    int64
 32  restaurant          500 non-null    int64
 33  pool                500 non-null    int64
 34  family_rooms        500 non-null    int64
 35  Staff               500 non-null    float64
 36  Cleanliness         500 non-null    float64
 37  Free_WiFi           500 non-null    float64
 38  Location            500 non-null    float64
 39  Facilities          500 non-null    float64
 40  Comfort             500 non-null    float64
 41  Value_for_money     500 non-null    float64
dtypes: datetime64[ns](2), float64(9), int64(20), object(11)
memory usage: 168.0+ KB

In [1657]:
hotels['distance']

3653    11.00
1500     0.70
1770     0.25
5267     3.30
6351    13.60
        ...
4812     4.30
4669     3.20
4237    18.20
515       NaN
1290     1.10
Name: distance, Length: 500, dtype: float64

In [1658]:
np.mean(hotels['distance'])

np.float64(6.940866510538641)

In [1659]:
hotels['distance'] = np.where(hotels['distance'].isna(), 6.9, hotels['distance'])

In [1660]:
city_map = {
    "Banglore" : "Metro",
    "Darjelling" : "Hill",
    "Delhi" : "Metro",
    "Goa" : "Beach",
    "Gokarna" : "Beach",
    "Hyderabad" : "Metro",
    "Manali" : "Hill",
    "Mumbai" : "Metro",
    "Munnar" : "Hill",
    "Ooty" : "Hill",
    "Pondicherry" : "Beach",
    "Shimla" : "Hill"
}

hotels['location_type'] = hotels['city'].map(city_map)

In [1661]:
loc_type_dummy = pd.get_dummies(hotels['location_type'], drop_first=True, dtype=int)

In [1662]:
city_dummy = pd.get_dummies(hotels['city'], drop_first=True, dtype=int)

In [1663]:
hotels = pd.concat([hotels, loc_type_dummy], axis=1)

In [1664]:
hotels = pd.concat([hotels, city_dummy], axis=1)

In [1665]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 3653 to 1290
Data columns (total 56 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                500 non-null    object
 1   room_type           500 non-null    object
 2   cancel_type         433 non-null    object
 3   paymentType         296 non-null    object
 4   bed_type            500 non-null    object
 5   price               500 non-null    int64
 6   review              500 non-null    float64
 7   review_count        500 non-null    int64
 8   distance            500 non-null    float64
 9   address             500 non-null    object
 10  checkin             500 non-null    datetime64[ns]
 11  checkout            500 non-null    datetime64[ns]
 12  city                500 non-null    object
 13  review_score        500 non-null    object
 14  facility            500 non-null    object
 15  checkIn_time        235 non-null    object
 16  checkOut_time       84 non-null     object
 17  free_cancel_flag    500 non-null    int64
 18  no_prepayment_flag  500 non-null    int64
 19  single              500 non-null    int64
 20  double              500 non-null    int64
 21  queen               500 non-null    int64
 22  king                500 non-null    int64
 23  extra_large         500 non-null    int64
 24  sofa                500 non-null    int64
 25  bunk                500 non-null    int64
 26  free_wifi           500 non-null    int64
 27  free_parking        500 non-null    int64
 28  breakfast           500 non-null    int64
 29  room_service        500 non-null    int64
 30  bar                 500 non-null    int64
 31  airport_shuttle     500 non-null    int64
 32  restaurant          500 non-null    int64
 33  pool                500 non-null    int64
 34  family_rooms        500 non-null    int64
 35  Staff               500 non-null    float64
 36  Cleanliness         500 non-null    float64
 37  Free_WiFi           500 non-null    float64
 38  Location            500 non-null    float64
 39  Facilities          500 non-null    float64
 40  Comfort             500 non-null    float64
 41  Value_for_money     500 non-null    float64
 42  location_type       500 non-null    object
 43  Hill                500 non-null    int64
 44  Metro               500 non-null    int64
 45  Darjelling          500 non-null    int64
 46  Delhi               500 non-null    int64
 47  Goa                 500 non-null    int64
 48  Gokarna             500 non-null    int64
 49  Hyderabad           500 non-null    int64
 50  Manali              500 non-null    int64
 51  Mumbai              500 non-null    int64
 52  Munnar              500 non-null    int64
 53  Ooty                500 non-null    int64
 54  Pondicherry         500 non-null    int64
 55  Shimla              500 non-null    int64
dtypes: datetime64[ns](2), float64(9), int64(33), object(12)
memory usage: 222.7+ KB

In [1666]:
hotels.head()

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,...,Delhi,Goa,Gokarna,Hyderabad,Manali,Mumbai,Munnar,Ooty,Pondicherry,Shimla
3653,FabHotel Astra Berry's - Nr Marathahalli Main ...,Superior Double Room,Free cancellation,NaN,1 double bed,16938,7.6,65,11.00,"Kadubeesanahalli, Bengaluru",...,0,0,0,0,0,0,0,0,0,0
1500,Earthen Pods,King Room with Mountain View,Free cancellation,No prepayment needed,1 large double bed,13068,10.0,1,0.70,"Aleo, Manāli",...,0,0,0,0,1,0,0,0,0,0
1770,Vella Marina Group of Hotel,Deluxe Double Room with Balcony,Free cancellation,No prepayment needed,2 single beds,384000,-1.0,-1,0.25,"New Manali, Manāli",...,0,0,0,0,1,0,0,0,0,0
5267,FabHotel RK Residency - Nr SR Nagar Metro Stat...,Deluxe Room,Free cancellation,NaN,1 double bed,10051,-1.0,-1,3.30,Hyderabad,...,0,0,0,1,0,0,0,0,0,0
6351,Hotel Shanti Palace Mahipalpur,Standard Double Room with 20% discount on foo...,Free cancellation,No prepayment needed,1 double bed,29700,-1.0,-1,13.60,"Mahipalpur, New Delhi",...,1,0,0,0,0,0,0,0,0,0

In [1667]:
hotels[hotels['airport_shuttle'] == 1]

,name,room_type,cancel_type,paymentType,bed_type,price,review,review_count,distance,address,...,Delhi,Goa,Gokarna,Hyderabad,Manali,Mumbai,Munnar,Ooty,Pondicherry,Shimla
4117,The Aroma Backpackers,10-Bed Male Dormitory Room,Free cancellation,No prepayment needed,Shared dormitory room10 bunk beds,13500,-1.0,-1,5.1,"Central Suburbs, Mumbai (Central Suburbs)",...,0,0,0,0,0,1,0,0,0,0
3416,Hoppers Stop Yelahanka,Deluxe Double Room,Free cancellation,No prepayment needed,1 double bed,17280,7.7,72,14.5,"Yelahanka, Bengaluru",...,0,0,0,0,0,0,0,0,0,0
2571,homestay,Holiday Home,Free cancellation,No prepayment needed,Entire holiday home • 2 bedrooms • 1 living ro...,8896,-1.0,-1,1.4,Puducherry,...,0,0,0,0,0,0,0,0,1,0
97,Darjeeling Homestay Nyano Ghar,Family Room with Private Bathroom,NaN,NaN,"3 beds (1 single, 1 double, 1 large double)",16800,9.4,20,1.1,Darjeeling,...,0,0,0,0,0,0,0,0,0,0
5708,Hotel Superb 5 Mins Walk From New Delhi Station,Deluxe Double or Twin Room,Free cancellation,No prepayment needed,1 double bed,14397,-1.0,-1,1.3,"Paharganj, New Delhi (Chandni Chowk)",...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5593,Hide-In Hostel Delhi,Deluxe King Room,NaN,NaN,1 large double bed,18804,-1.0,-1,12.8,"Saket, New Delhi",...,1,0,0,0,0,0,0,0,0,0
3978,HOTEL RIGGA INN KOKILABEN DHIRUBHAI AMBANI Hos...,Deluxe Triple Room,Free cancellation,No prepayment needed,3 large double beds,12048,-1.0,-1,8.9,"Western Suburbs, Mumbai (Andheri)",...,0,0,0,0,0,1,0,0,0,0
722,Neev Beach View Goa,Triple Room with Terrace,Free cancellation,No prepayment needed,"2 beds (1 single, 1 large double)",8549,7.9,371,6.9,"Anjuna Beach, Anjuna",...,0,1,0,0,0,0,0,0,0,0
452,BaywoodGoa -200 meters from Morjim Beach,Deluxe Double Room with Balcony,Free cancellation,NaN,1 extra-large double bed,21600,9.4,334,6.9,"Morjim Beach, Morjim",...,0,1,0,0,0,0,0,0,0,0
2123,Beverly villa,Economy Double Room,NaN,NaN,"2 beds (1 single, 1 double)",16443,9.2,713,1.5,Ooty,...,0,0,0,0,0,0,0,1,0,0

In [1668]:
hotels.corr(numeric_only=True)

,price,review,review_count,distance,free_cancel_flag,no_prepayment_flag,single,double,queen,king,...,Delhi,Goa,Gokarna,Hyderabad,Manali,Mumbai,Munnar,Ooty,Pondicherry,Shimla
price,1.000000,-0.023884,-0.032336,0.143096,-0.043417,-0.136763,0.070872,0.021555,NaN,NaN,...,-0.044946,0.025737,-0.009548,0.067559,0.051308,0.012922,0.045604,0.012992,-0.037562,0.092131
review,-0.023884,1.000000,0.429374,-0.196252,-0.110601,-0.252179,-0.078730,-0.085794,NaN,NaN,...,-0.377595,0.399848,0.059750,-0.263431,0.122731,-0.383144,0.061626,0.006494,0.148114,0.173716
review_count,-0.032336,0.429374,1.000000,-0.077042,-0.129077,-0.180344,-0.027994,-0.108248,NaN,NaN,...,-0.170670,0.302262,-0.035635,-0.119069,-0.035689,-0.173178,-0.021100,0.180561,-0.015410,-0.032777
distance,0.143096,-0.196252,-0.077042,1.000000,-0.007307,-0.006358,0.042479,-0.031130,NaN,NaN,...,0.143373,-0.002280,-0.094629,0.177177,-0.191020,-0.009254,0.039458,-0.141433,-0.161680,-0.004423
free_cancel_flag,-0.043417,-0.110601,-0.129077,-0.007307,1.000000,0.464071,-0.030473,-0.045132,NaN,NaN,...,0.031924,-0.166423,-0.034054,0.059268,0.093640,0.020197,0.019729,-0.038762,0.065368,0.040364
no_prepayment_flag,-0.136763,-0.252179,-0.180344,-0.006358,0.464071,1.000000,0.025408,0.056351,NaN,NaN,...,0.057500,-0.231129,0.051690,0.038146,0.105993,0.076830,-0.013584,0.018240,0.074882,-0.061172
single,0.070872,-0.078730,-0.027994,0.042479,-0.030473,0.025408,1.000000,0.334666,NaN,NaN,...,-0.048526,-0.082939,-0.039043,0.082973,0.011709,-0.008095,-0.043252,-0.039234,-0.030742,-0.060324
double,0.021555,-0.085794,-0.108248,-0.031130,-0.045132,0.056351,0.334666,1.000000,NaN,NaN,...,-0.074419,-0.032063,-0.010380,0.063823,-0.028036,0.051936,0.041817,0.032061,0.014356,-0.022575
queen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
king,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
extra_large,0.242160,0.022840,-0.024881,0.087468,-0.052872,-0.041278,0.026774,-0.098970,NaN,NaN,...,0.042459,0.013139,0.030722,-0.017667,-0.005242,-0.068118,-0.045943,0.016164,0.016525,0.127117
sofa,0.059360,0.005084,-0.093792,0.064360,-0.047154,0.059186,0.009994,0.056077,NaN,NaN,...,-0.093334,0.086228,-0.051406,0.012511,-0.076726,0.000680,0.004684,-0.009645,0.104081,-0.027850
bunk,-0.045624,-0.028662,-0.018273,-0.034844,0.020754,0.059309,-0.023213,-0.055560,NaN,NaN,...,-0.035393,0.010139,-0.010898,-0.024692,-0.023413,0.118617,0.040191,-0.013662,-0.022422,-0.018853
free_wifi,-0.022565,0.135329,0.116793,0.037826,-0.021197,-0.154243,0.000513,-0.035863,NaN,NaN,...,-0.027453,-0.120384,0.018298,0.028771,-0.030318,0.016087,-0.037316,-0.044432,0.053124,0.059686
free_parking,0.139517,0.217145,0.129860,0.002395,-0.101789,-0.078289,-0.029910,-0.007920,NaN,NaN,...,-0.176098,0.073405,0.060103,0.011797,0.144124,-0.205653,0.030008,0.115994,0.076957,0.170418
breakfast,-0.002075,0.092509,0.085199,-0.013114,-0.005253,-0.025386,-0.029801,-0.008585,NaN,NaN,...,-0.056387,-0.123111,-0.031560,-0.004181,0.143352,-0.040588,0.010076,-0.042425,-0.064931,0.064423
room_service,-0.055581,0.019599,0.134187,0.024100,-0.001923,-0.076237,-0.017824,-0.038890,NaN,NaN,...,0.002460,-0.125326,-0.105993,0.009700,0.018131,0.060464,-0.005056,0.041960,-0.042721,0.002227
bar,0.129757,0.027016,0.213335,-0.002642,-0.042833,-0.069968,-0.022053,-0.037589,NaN,NaN,...,-0.051057,0.139037,-0.031060,0.060553,-0.032508,0.020964,-0.034408,-0.038938,-0.063902,-0.012399
airport_shuttle,-0.022341,0.046398,0.147285,-0.058950,-0.004700,0.002802,-0.004076,-0.100849,NaN,NaN,...,0.072897,0.006664,0.018018,-0.045291,-0.013992,-0.003931,-0.032228,0.019018,-0.065445,-0.035136
restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pool,0.285206,0.153391,0.190371,0.151017,-0.104714,-0.176572,-0.035780,-0.030876,NaN,NaN,...,-0.053640,0.378078,0.005970,0.018859,-0.070788,-0.056660,-0.049437,-0.055944,-0.013741,-0.077198
family_rooms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Staff,0.019501,0.322487,0.166223,-0.061051,-0.102223,-0.126703,-0.076889,-0.084796,NaN,NaN,...,-0.049446,-0.000532,0.041611,-0.003536,0.008877,-0.069439,-0.004688,-0.004295,0.031682,0.071813
Cleanliness,0.069143,0.463125,0.214236,-0.090852,-0.106098,-0.177409,-0.051172,-0.064448,NaN,NaN,...,-0.041451,0.055228,0.004443,-0.021439,0.036301,-0.099136,0.009184,-0.055740,0.047604,0.089078
Free_WiFi,-0.053470,0.129562,0.289285,-0.036557,-0.027037,-0.165767,-0.043987,-0.077547,NaN,NaN,...,-0.026847,0.070618,-0.029293,0.003748,-0.062699,0.039933,-0.039527,0.006059,-0.007746,-0.083397
Location,0.059972,0.452656,0.223891,-0.096967,-0.106305,-0.175631,-0.050692,-0.067322,NaN,NaN,...,-0.031323,0.058084,0.003462,-0.028098,0.041956,-0.100251,0.009209,-0.051334,0.038721,0.069171
Facilities,0.030221,0.325064,0.167288,-0.056365,-0.105773,-0.132021,-0.077939,-0.089269,NaN,NaN,...,-0.050036,0.008776,0.039922,0.007905,0.013595,-0.075676,-0.009971,-0.002563,0.025831,0.065190
Comfort,0.026107,0.324117,0.166112,-0.057525,-0.103833,-0.131745,-0.077184,-0.089048,NaN,NaN,...,-0.046716,0.005039,0.041934,0.006417,0.013705,-0.079100,-0.006503,-0.003815,0.027701,0.065856
Value_for_money,0.060128,0.459992,0.210940,-0.100028,-0.099123,-0.172310,-0.050820,-0.060448,NaN,NaN,...,-0.035104,0.056178,-0.001501,-0.023866,0.047296,-0.104985,0.012800,-0.051859,0.053988,0.087089
Hill,0.061223,0.218603,-0.016130,-0.217919,0.052193,0.072830,-0.006680,0.053839,NaN,NaN,...,-0.241657,-0.227254,-0.074412,-0.168593,0.529198,-0.245208,0.272884,0.308804,-0.153093,0.426122
Metro,-0.048002,-0.560534,-0.182777,0.294932,0.048830,0.049386,0.090673,-0.027527,NaN,NaN,...,0.412385,-0.440839,-0.144349,0.287702,-0.310109,0.418445,-0.159910,-0.180958,-0.296979,-0.249707
Darjelling,-0.077490,0.048105,-0.075005,-0.100134,-0.038471,0.067033,0.091208,0.107346,NaN,NaN,...,-0.102975,-0.096838,-0.031709,-0.071841,-0.068121,-0.104489,-0.035127,-0.039751,-0.065236,-0.054852
Delhi,-0.044946,-0.377595,-0.170670,0.143373,0.031924,0.057500,-0.048526,-0.074419,NaN,NaN,...,1.000000,-0.181795,-0.059527,-0.134869,-0.127884,-0.196158,-0.065944,-0.074624,-0.122469,-0.102975
Goa,0.025737,0.399848,0.302262,-0.002280,-0.166423,-0.231129,-0.082939,-0.032063,NaN,NaN,...,-0.181795,1.000000,-0.055979,-0.126830,-0.120262,-0.184467,-0.062014,-0.070177,-0.115170,-0.096838
Gokarna,-0.009548,0.059750,-0.035635,-0.094629,-0.034054,0.051690,-0.039043,-0.010380,NaN,NaN,...,-0.059527,-0.055979,1.000000,-0.041529,-0.039379,-0.060402,-0.020306,-0.022979,-0.037711,-0.031709
Hyderabad,0.067559,-0.263431,-0.119069,0.177177,0.059268,0.038146,0.082973,0.063823,NaN,NaN,...,-0.134869,-0.126830,-0.041529,1.000000,-0.089219,-0.136851,-0.046006,-0.052062,-0.085441,-0.071841
Manali,0.051308,0.122731,-0.035689,-0.191020,0.093640,0.105993,0.011709,-0.028036,NaN,NaN,...,-0.127884,-0.120262,-0.039379,-0.089219,1.000000,-0.129764,-0.043624,-0.049366,-0.081017,-0.068121
Mumbai,0.012922,-0.383144,-0.173178,-0.009254,0.020197,0.076830,-0.008095,0.051936,NaN,NaN,...,-0.196158,-0.184467,-0.060402,-0.136851,-0.129764,1.000000,-0.066913,-0.075721,-0.124269,-0.104489
Munnar,0.045604,0.061626,-0.021100,0.039458,0.019729,-0.013584,-0.043252,0.041817,NaN,NaN,...,-0.065944,-0.062014,-0.020306,-0.046006,-0.043624,-0.066913,1.000000,-0.025456,-0.041777,-0.035127
Ooty,0.012992,0.006494,0.180561,-0.141433,-0.038762,0.018240,-0.039234,0.032061,NaN,NaN,...,-0.074624,-0.070177,-0.022979,-0.052062,-0.049366,-0.075721,-0.025456,1.000000,-0.047276,-0.039751
Pondicherry,-0.037562,0.148114,-0.015410,-0.161680,0.065368,0.074882,-0.030742,0.014356,NaN,NaN,...,-0.122469,-0.115170,-0.037711,-0.085441,-0.081017,-0.124269,-0.041777,-0.047276,1.000000,-0.065236
Shimla,0.092131,0.173716,-0.032777,-0.004423,0.040364,-0.061172,-0.060324,-0.022575,NaN,NaN,...,-0.102975,-0.096838,-0.031709,-0.071841,-0.068121,-0.104489,-0.035127,-0.039751,-0.065236,1.000000

In [1669]:
hotels = hotels.dropna(subset=['price'])

In [1670]:
def parse_room(room_type):
    counts = {
        'double_room' : 0,
        'villa_room' : 0,
        'deluxe_room' : 0,
        'family_room' : 0,
        'queen_room' : 0,
        'king_room' : 0,
        'other_room' : 0
        
    }

    
    if "Villa" in room_type:
        counts['villa_room'] = 1
    if "Family" in room_type:
        counts["family_room"] = 1
    if "Deluxe" in room_type:
        counts["deluxe_room"] = 1
    if "Queen" in room_type:
        counts['queen_room'] = 1
    if "King" in room_type:
        counts['king_room'] = 1
    if "Double" in room_type:
        counts['double_room'] = 1
    else:
        counts['other_room'] = 1
    
    return pd.Series(counts)

In [1671]:
room_type_df = hotels['room_type'].apply(parse_room)

In [1672]:
hotels = pd.concat([hotels, room_type_df], axis=1)

In [1673]:
np.mean(hotels['review_count'])

np.float64(35.93)

In [1674]:
hotels['review_count'] = np.where(hotels['review_count'] == -1, 37, hotels['review_count'])

In [1675]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 3653 to 1290
Data columns (total 63 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                500 non-null    object
 1   room_type           500 non-null    object
 2   cancel_type         433 non-null    object
 3   paymentType         296 non-null    object
 4   bed_type            500 non-null    object
 5   price               500 non-null    int64
 6   review              500 non-null    float64
 7   review_count        500 non-null    int64
 8   distance            500 non-null    float64
 9   address             500 non-null    object
 10  checkin             500 non-null    datetime64[ns]
 11  checkout            500 non-null    datetime64[ns]
 12  city                500 non-null    object
 13  review_score        500 non-null    object
 14  facility            500 non-null    object
 15  checkIn_time        235 non-null    object
 16  checkOut_time       84 non-null     object
 17  free_cancel_flag    500 non-null    int64
 18  no_prepayment_flag  500 non-null    int64
 19  single              500 non-null    int64
 20  double              500 non-null    int64
 21  queen               500 non-null    int64
 22  king                500 non-null    int64
 23  extra_large         500 non-null    int64
 24  sofa                500 non-null    int64
 25  bunk                500 non-null    int64
 26  free_wifi           500 non-null    int64
 27  free_parking        500 non-null    int64
 28  breakfast           500 non-null    int64
 29  room_service        500 non-null    int64
 30  bar                 500 non-null    int64
 31  airport_shuttle     500 non-null    int64
 32  restaurant          500 non-null    int64
 33  pool                500 non-null    int64
 34  family_rooms        500 non-null    int64
 35  Staff               500 non-null    float64
 36  Cleanliness         500 non-null    float64
 37  Free_WiFi           500 non-null    float64
 38  Location            500 non-null    float64
 39  Facilities          500 non-null    float64
 40  Comfort             500 non-null    float64
 41  Value_for_money     500 non-null    float64
 42  location_type       500 non-null    object
 43  Hill                500 non-null    int64
 44  Metro               500 non-null    int64
 45  Darjelling          500 non-null    int64
 46  Delhi               500 non-null    int64
 47  Goa                 500 non-null    int64
 48  Gokarna             500 non-null    int64
 49  Hyderabad           500 non-null    int64
 50  Manali              500 non-null    int64
 51  Mumbai              500 non-null    int64
 52  Munnar              500 non-null    int64
 53  Ooty                500 non-null    int64
 54  Pondicherry         500 non-null    int64
 55  Shimla              500 non-null    int64
 56  double_room         500 non-null    int64
 57  villa_room          500 non-null    int64
 58  deluxe_room         500 non-null    int64
 59  family_room         500 non-null    int64
 60  queen_room          500 non-null    int64
 61  king_room           500 non-null    int64
 62  other_room          500 non-null    int64
dtypes: datetime64[ns](2), float64(9), int64(40), object(12)
memory usage: 250.0+ KB

In [1676]:
hotels['distance'].describe()

count    500.000000
mean       6.934900
std        6.335568
min        0.100000
25%        2.600000
50%        6.800000
75%        9.125000
max       64.700000
Name: distance, dtype: float64

In [1677]:
bins = [0, 2, 6, 9, 65]
labels = ['small', 'midrange', 'central', 'far']
hotels['distance_category'] = pd.cut(hotels['distance'], bins=bins, labels=labels)

In [1678]:
distance_category_list = pd.get_dummies(hotels['distance_category'], dtype=int, drop_first=True)

In [1679]:
hotels = pd.concat([hotels, distance_category_list], axis=1)

In [1680]:
hotels.groupby('location_type')['price'].mean()

location_type
Beach    30481.754237
Hill     34526.991379
Metro    29227.902256
Name: price, dtype: float64

In [1681]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 3653 to 1290
Data columns (total 67 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                500 non-null    object
 1   room_type           500 non-null    object
 2   cancel_type         433 non-null    object
 3   paymentType         296 non-null    object
 4   bed_type            500 non-null    object
 5   price               500 non-null    int64
 6   review              500 non-null    float64
 7   review_count        500 non-null    int64
 8   distance            500 non-null    float64
 9   address             500 non-null    object
 10  checkin             500 non-null    datetime64[ns]
 11  checkout            500 non-null    datetime64[ns]
 12  city                500 non-null    object
 13  review_score        500 non-null    object
 14  facility            500 non-null    object
 15  checkIn_time        235 non-null    object
 16  checkOut_time       84 non-null     object
 17  free_cancel_flag    500 non-null    int64
 18  no_prepayment_flag  500 non-null    int64
 19  single              500 non-null    int64
 20  double              500 non-null    int64
 21  queen               500 non-null    int64
 22  king                500 non-null    int64
 23  extra_large         500 non-null    int64
 24  sofa                500 non-null    int64
 25  bunk                500 non-null    int64
 26  free_wifi           500 non-null    int64
 27  free_parking        500 non-null    int64
 28  breakfast           500 non-null    int64
 29  room_service        500 non-null    int64
 30  bar                 500 non-null    int64
 31  airport_shuttle     500 non-null    int64
 32  restaurant          500 non-null    int64
 33  pool                500 non-null    int64
 34  family_rooms        500 non-null    int64
 35  Staff               500 non-null    float64
 36  Cleanliness         500 non-null    float64
 37  Free_WiFi           500 non-null    float64
 38  Location            500 non-null    float64
 39  Facilities          500 non-null    float64
 40  Comfort             500 non-null    float64
 41  Value_for_money     500 non-null    float64
 42  location_type       500 non-null    object
 43  Hill                500 non-null    int64
 44  Metro               500 non-null    int64
 45  Darjelling          500 non-null    int64
 46  Delhi               500 non-null    int64
 47  Goa                 500 non-null    int64
 48  Gokarna             500 non-null    int64
 49  Hyderabad           500 non-null    int64
 50  Manali              500 non-null    int64
 51  Mumbai              500 non-null    int64
 52  Munnar              500 non-null    int64
 53  Ooty                500 non-null    int64
 54  Pondicherry         500 non-null    int64
 55  Shimla              500 non-null    int64
 56  double_room         500 non-null    int64
 57  villa_room          500 non-null    int64
 58  deluxe_room         500 non-null    int64
 59  family_room         500 non-null    int64
 60  queen_room          500 non-null    int64
 61  king_room           500 non-null    int64
 62  other_room          500 non-null    int64
 63  distance_category   500 non-null    category
 64  midrange            500 non-null    int64
 65  central             500 non-null    int64
 66  far                 500 non-null    int64
dtypes: category(1), datetime64[ns](2), float64(9), int64(43), object(12)
memory usage: 262.4+ KB

In [1759]:
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

hotels = hotels.assign(
    log_distance = np.log(hotels['distance']),
    distance_2 = hotels["distance"] ** 2,
    distance_3 = hotels["distance"] ** 3
)

hotels = hotels.assign(
    Staff_2 = hotels["Staff"] ** 2,
    value_for_money_2 = hotels["Value_for_money"] ** 2,
    facility_count = (hotels['free_wifi'] + 
                     hotels['free_parking'] +
                     hotels['free_wifi'] + 
                     hotels['breakfast'] + 
                    hotels['room_service'] + 
                    hotels['bar'] + 
                      hotels['airport_shuttle'])
)


hotels= hotels.assign(
    facility_money = hotels['Value_for_money']/hotels['facility_count']
)

hotels.replace([np.inf, -np.inf], np.nan, inplace=True)

hotels['facility_money'] = np.where(hotels['facility_money'].isna(), 0, hotels['facility_money'])


hotels = hotels.assign(
    avg_rating = (hotels['Staff'] +
                  hotels['Cleanliness'] +
                  hotels['Facilities'] +
                  hotels['free_wifi'] + 
                  hotels['Location'] +
                  hotels['Value_for_money'] +
                  hotels['Free_WiFi'])/7
)

hotels = hotels.assign(
    total_room = (
        hotels['double_room'] + hotels['villa_room'] + hotels['queen_room'] + hotels['king_room'] + hotels['deluxe_room'] +
        hotels['family_room'] + hotels['other_room']
    )
)

hotels = hotels.assign(
    total_bed = (
        hotels['single'] + hotels['double'] + hotels['queen'] + hotels['king'] + hotels['extra_large'] +
        hotels['sofa'] + hotels['bunk']
    )
)

hotels = hotels.assign(
    rating_ration = hotels['avg_rating'] / hotels['review_count']
)

feature = ['no_prepayment_flag',
       'pool', 'villa_room', 'total_bed', 'Hill', 'Metro', 'Staff', 'Location', 'review', 'breakfast']

X3 = sm.add_constant(hotels[feature])
y3 = np.log(hotels["price"])

X, X_test, y, y_test = train_test_split(X3, y3, test_size=.2, random_state=2023)

In [1760]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 3653 to 1290
Data columns (total 78 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                500 non-null    object
 1   room_type           500 non-null    object
 2   cancel_type         433 non-null    object
 3   paymentType         296 non-null    object
 4   bed_type            500 non-null    object
 5   price               500 non-null    int64
 6   review              500 non-null    float64
 7   review_count        500 non-null    int64
 8   distance            500 non-null    float64
 9   address             500 non-null    object
 10  checkin             500 non-null    datetime64[ns]
 11  checkout            500 non-null    datetime64[ns]
 12  city                500 non-null    object
 13  review_score        500 non-null    object
 14  facility            500 non-null    object
 15  checkIn_time        235 non-null    object
 16  checkOut_time       84 non-null     object
 17  free_cancel_flag    500 non-null    int64
 18  no_prepayment_flag  500 non-null    int64
 19  single              500 non-null    int64
 20  double              500 non-null    int64
 21  queen               500 non-null    int64
 22  king                500 non-null    int64
 23  extra_large         500 non-null    int64
 24  sofa                500 non-null    int64
 25  bunk                500 non-null    int64
 26  free_wifi           500 non-null    int64
 27  free_parking        500 non-null    int64
 28  breakfast           500 non-null    int64
 29  room_service        500 non-null    int64
 30  bar                 500 non-null    int64
 31  airport_shuttle     500 non-null    int64
 32  restaurant          500 non-null    int64
 33  pool                500 non-null    int64
 34  family_rooms        500 non-null    int64
 35  Staff               500 non-null    float64
 36  Cleanliness         500 non-null    float64
 37  Free_WiFi           500 non-null    float64
 38  Location            500 non-null    float64
 39  Facilities          500 non-null    float64
 40  Comfort             500 non-null    float64
 41  Value_for_money     500 non-null    float64
 42  location_type       500 non-null    object
 43  Hill                500 non-null    int64
 44  Metro               500 non-null    int64
 45  Darjelling          500 non-null    int64
 46  Delhi               500 non-null    int64
 47  Goa                 500 non-null    int64
 48  Gokarna             500 non-null    int64
 49  Hyderabad           500 non-null    int64
 50  Manali              500 non-null    int64
 51  Mumbai              500 non-null    int64
 52  Munnar              500 non-null    int64
 53  Ooty                500 non-null    int64
 54  Pondicherry         500 non-null    int64
 55  Shimla              500 non-null    int64
 56  double_room         500 non-null    int64
 57  villa_room          500 non-null    int64
 58  deluxe_room         500 non-null    int64
 59  family_room         500 non-null    int64
 60  queen_room          500 non-null    int64
 61  king_room           500 non-null    int64
 62  other_room          500 non-null    int64
 63  distance_category   500 non-null    category
 64  midrange            500 non-null    int64
 65  central             500 non-null    int64
 66  far                 500 non-null    int64
 67  log_distance        500 non-null    float64
 68  distance_2          500 non-null    float64
 69  distance_3          500 non-null    float64
 70  Staff_2             500 non-null    float64
 71  value_for_money_2   500 non-null    float64
 72  facility_count      500 non-null    int64
 73  facility_money      500 non-null    float64
 74  avg_rating          500 non-null    float64
 75  total_room          500 non-null    int64
 76  total_bed           500 non-null    int64
 77  rating_ration       500 non-null    float64
dtypes: category(1), datetime64[ns](2), float64(17), int64(46), object(12)
memory usage: 305.4+ KB

In [1761]:
model3 = sm.OLS(y, X).fit()

model3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.339
Model:                            OLS   Adj. R-squared:                  0.322
Method:                 Least Squares   F-statistic:                     19.94
Date:                Tue, 29 Jul 2025   Prob (F-statistic):           9.42e-30
Time:                        14:57:48   Log-Likelihood:                -363.99
No. Observations:                 400   AIC:                             750.0
Df Residuals:                     389   BIC:                             793.9
Df Model:                          10
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                  9.7576      0.104     94.114      0.000       9.554       9.961
no_prepayment_flag    -0.2087      0.065     -3.190      0.002      -0.337      -0.080
pool                   0.7915      0.112      7.098      0.000       0.572       1.011
villa_room             0.9735      0.114      8.512      0.000       0.749       1.198
total_bed              0.0385      0.016      2.464      0.014       0.008       0.069
Hill                   0.3719      0.100      3.701      0.000       0.174       0.569
Metro                  0.2391      0.096      2.489      0.013       0.050       0.428
Staff                 -0.0430      0.013     -3.404      0.001      -0.068      -0.018
Location               0.0279      0.011      2.551      0.011       0.006       0.049
review                -0.0209      0.010     -2.188      0.029      -0.040      -0.002
breakfast              0.1487      0.089      1.670      0.096      -0.026       0.324
==============================================================================
Omnibus:                       14.303   Durbin-Watson:                   2.151
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               16.754
Skew:                           0.366   Prob(JB):                     0.000230
Kurtosis:                       3.686   Cond. No.                         46.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [1762]:
std = StandardScaler()
X_m = std.fit_transform(X.values)
X_te = std.transform(X_test.values)

In [1777]:
from sklearn.linear_model import LassoCV
from sklearn.metrics import mean_absolute_error as mae

n_alphas = 500
alphas = 10 ** np.linspace(-6, 6, n_alphas)

lasso_model = LassoCV(alphas=alphas, cv=10, max_iter=50000)

lasso_model.fit(X_m, y)
print(lasso_model.score(X_te, y_test))

0.12185155706845074

In [1778]:
from sklearn.linear_model import RidgeCV
from sklearn.metrics import mean_absolute_error as mae

n_alphas = 200
alphas = 10 ** np.linspace(-3, 3, n_alphas)

ridge_model = RidgeCV(alphas=alphas, cv=5)

ridge_model.fit(X_m, y)
print(ridge_model.score(X_te, y_test))

0.13073173031922392

In [1765]:
hotels.columns

Index(['name', 'room_type', 'cancel_type', 'paymentType', 'bed_type', 'price',
       'review', 'review_count', 'distance', 'address', 'checkin', 'checkout',
       'city', 'review_score', 'facility', 'checkIn_time', 'checkOut_time',
       'free_cancel_flag', 'no_prepayment_flag', 'single', 'double', 'queen',
       'king', 'extra_large', 'sofa', 'bunk', 'free_wifi', 'free_parking',
       'breakfast', 'room_service', 'bar', 'airport_shuttle', 'restaurant',
       'pool', 'family_rooms', 'Staff', 'Cleanliness', 'Free_WiFi', 'Location',
       'Facilities', 'Comfort', 'Value_for_money', 'location_type', 'Hill',
       'Metro', 'Darjelling', 'Delhi', 'Goa', 'Gokarna', 'Hyderabad', 'Manali',
       'Mumbai', 'Munnar', 'Ooty', 'Pondicherry', 'Shimla', 'double_room',
       'villa_room', 'deluxe_room', 'family_room', 'queen_room', 'king_room',
       'other_room', 'distance_category', 'midrange', 'central', 'far',
       'log_distance', 'distance_2', 'distance_3', 'Staff_2',
       'value_for_money_2', 'facility_count', 'facility_money', 'avg_rating',
       'total_room', 'total_bed', 'rating_ration'],
      dtype='object')

In [1766]:
np.mean(hotels['review_count'])

np.float64(57.21)

In [1767]:
np.where(hotels['review_count'] == -1, 37, hotels['review_count'])

array([ 65,   1,  37,  37,  37,  37,  37,  37,  14,  57,  37,  81,  37,
        92,   2,  53,  37,  37,  72,   5,   1,  67,  11,  55,  37, 272,
        37,  37,  72,  29,  37,  37,  34,  37,   1,  37,  20,  37,  37,
        37,  11,  37,  31,  37,  12,  30, 178,  37,  16, 305,  37,  37,
        37,  37,  37,  42, 148,  37,  37,  37,  37,  37,  37,  37,  34,
        37,  37,  37,  37,  37,  37,  37,  37,   3,  37, 154,  37, 653,
       140,  65,  37,   1,   8,  37,   9,  37, 229, 485,  37,  37,  37,
        37,  37,   3,  15,   3, 377,  37,  74,  37,  37,  37, 150,  12,
        37,  37,  76,  18,  37,  37,  72,  37,  37,  37,  50,   1, 142,
        37,   4,  37,  37,  78, 186,   9,  37,   1,  48,  37,  58,  57,
        24,  12,  10,  87,  37, 222,  37,  37,   1,  28,  37,  37,  37,
        37,  37,  37,  37,  37,  37,   1,   7,  37,   1,  37,  37,  37,
         3,  37,   4,  37,  37,  37,  48,  37,  27,  14, 144,  78,  37,
       147,  37,  44,  37,  37,  37,  37,  37,  80,  43,   1,  10,  37,
         4,  71,  20,  37,  37, 164,  37,  59, 269,  37,  97,   9,  37,
        19,  37,  37,  37,  37,  73,  37, 141,  37, 195,  13,   3,   8,
         1,  14,  37,   2, 336,  37,  37, 305,  37,  37,  37,  37,   3,
        37,  37,  37,   7,   8,  37, 242,  37,  37,  37,  10,   2,  37,
        37,  37,  37,  37, 176,  53,  28,  14, 183,  37,  37,  71,  37,
         3,  37,  37,   1,  37,   1,  37,  37,  37,  37,  37,  37, 203,
        37,  37,  37,  37,  37,  37,  37,  37,  37,  37,   1,  37,  37,
        37,  37,  37,  22,  37,  37, 362,  54,  57, 181,  22,  40,  37,
        37,  13,  37,  35,  37,  35,   3,   7,  92,  37,  37,  37,  37,
         7,   8,  37,   1,  37,  37,  37,  11,  13,  37,  37,  37,  35,
        37,  42,  37,  55,  37,  37,  37,  37,  37,  37,  37,  30, 183,
        37,  29,  37,  37,   1,  37,  61,  35,  37,  37,  37,  37, 118,
        23,  37,  37,  68,   1,  15,  37, 372,  33,   2,   2,  47,  37,
         6,   3,  72,  37,  22,  37, 147,  37,  37,  12,  17, 277,  59,
        37,  37, 330,  20,  37,  37,   1,  11,  53,  37,  30,  37, 718,
        37,  37,  37,  51,  37,  37, 236,  37,  37,  42,  37,  37,  59,
         2,  11,  24,  37,  37,  40,  37,  37,  37,  37,  13,  37, 647,
        37,  37,  37,   2,   2,  37,  37,  37, 119,  37,  37,  37,   1,
       298,  17,  37,  37,  37,   3,  37,  37,  37,  37,  37,   6,  37,
        37,  11,  37,  37,  37,  37,  37, 365,  37,  37,  37,  37,  37,
         5,  30,  37, 284,   5,  96,  37,  31,  37,  48,   5,  37,   2,
        37,  37,  37,  37,  28,  33,  37,  37,  37,  37,   2,  37,  37,
        37,  37,  37, 352,  37,  67,  37, 169,   4, 511,  37,  37,  37,
        37,  37,  37,   5,  37, 371,  37,  37, 133,  57,  37, 334, 713,
        37,  37,  37,  37, 242,   2])

In [1768]:
from sklearn.linear_model import ElasticNetCV
model = ElasticNetCV(cv=5, l1_ratio=0.5, max_iter=10000).fit(X_m, y)
print("R²:", model.score(X_te, y_test))

R²: 0.12103717639516698

In [1771]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42)
rf.fit(X, y)
print("R²:", rf.score(X_test, y_test))

R²: 0.1595877477334542

In [1772]:
print("R²:", rf.score(X, y))

R²: 0.721343955611079

In [1773]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(rf, X, y, cv=5, scoring='r2')
print(scores.mean())

0.19815372677951942

In [1774]:
list(zip(X.columns, lasso_model.coef_))

[('const', np.float64(0.0)),
 ('no_prepayment_flag', np.float64(-0.10204301389126388)),
 ('pool', np.float64(0.24186107775214258)),
 ('villa_room', np.float64(0.2781189530209645)),
 ('total_bed', np.float64(0.07801928572403669)),
 ('Hill', np.float64(0.1534236061219912)),
 ('Metro', np.float64(0.11808074133765574)),
 ('Staff', np.float64(-0.175374396313617)),
 ('Location', np.float64(0.11787714821116778)),
 ('review', np.float64(-0.09476202828711086)),
 ('breakfast', np.float64(0.06795872797263787))]